.root {
	margin: 20px 20px 0px 0px;
}

.welcome {
	font-weight: 400;
}

.name {
	font-weight: 400;
	font-size: 18px;
}

.container {
	background-color: #faf4ff;
	height: 500px;
	border-radius: 20px;
	margin-top: 20px;
	padding: 15px 20px;
}

.recentFilesHeader {
	color: #5500a9;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.recentFilesHeader .title {
	font-weight: 500;
}
.recentFilesHeader .allview {
	font-size: 12px;
	cursor: pointer;
}
